---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Problem from "../components/Problem.astro";
import Features from "../components/Features.astro";
import Receiving from "../components/Receiving.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Production from "../components/Production.astro";
import MultiNip from "../components/MultiNip.astro";
import Deploy from "../components/Deploy.astro";
import Integrations from "../components/Integrations.astro";
import Cta from "../components/Cta.astro";
import Faq from "../components/Faq.astro";
import Footer from "../components/Footer.astro";
---
<Base>
  <Nav />
  <main id="main">
    <Hero />
    <Problem />
    <Features />
    <Receiving />
    <HowItWorks />
    <Production />
    <MultiNip />
    <Deploy />
    <Integrations />
    <Cta />
    <Faq />
  </main>
  <Footer />
</Base>
